html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.today {
    border: 1px solid black;
    border-radius: 4px;
    
}

hr {
  border: 1px solid black
}

input {
  border-radius: 4px;
}

button {
  background-color: rgb(100, 187, 216);
  border: 1px;
  border-radius: 4px;
  
}

.day {
  border: 1px solid black;
  border-radius: 4px;
  display: inline-block;
  flex-direction: row;
  background-color: slategray;
  color: white;
  justify-content: space-between;
}

.date {
  font-weight: bold;
}

.city {
  font-weight: bold;
}
